body{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}
.top-bar{
    background-color:#9bbadc;
    text-align: center;
    color: #000;
    padding: 0.5px 0;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header{
    padding: 1rem;
}

.navbar{
    display:none;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
}


#Logo{
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 12px;
}

.button {
    background-color: #9bbadc;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration:none;
}

main section{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    margin: 2rem;
}

main h2{
    display: none;
    text-transform: uppercase;
    height: auto;
    max-width: 100%;
}

img{
    max-width: 100%;
    height: auto;
    align-items: center;
}

article h3{
    text-align: center;
}

.shop-btn{
    background-color: #442610;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 6rem;
  }

footer{
    background-color: #9bbadc;
    padding:3rem;
    text-align: center;
}

footer ul li{
    list-style: none;
    padding: 0;
    display:inline;
    text-transform: uppercase;
    color: #fff;
    margin: 0 10px;
}

@media only screen and (min-width:600px) {

    #grid-container{
        grid-template-areas: "header header header" ". main." "footer footer footer"
    }

    footer{
        position: fixed;
        width:100%
    }

    .flex-section{
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }

    .mobil-navbar{
        display: none;
    }

    .navbar{
        text-decoration: none;
        display:block;
        text-align: left;
    }

    header nav ul li a{
        text-decoration: none;
        background-color: #9bbadc;
        color: #fff;
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        text-decoration:none;
    }

    nav label{
        padding: 1rem;
        background-color: #9bbadc;
        color: #fff;
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        text-decoration:none;
    }

    .flex-section-bilde{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

}