*{
    box-sizing: border-box;
}
.top-bar{
    background-color:#9bbadc;
    text-align: center;
    color: #000;
    padding: 0.5px 0;
}

#Logo{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 12px;
}

header nav ul li{
    text-decoration: none;
    display: inline;
    text-align: right;
    text-transform: uppercase;

}

.navbar{
        text-align: right;
}

body{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#fff
}

.button {
    background-color: #9bbadc;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration:none;
}

main section{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    margin: 2rem;
}

main h2{
    display: none;
    text-transform: uppercase;
    height: auto;
    max-width: 100%;
}

img{
    max-width: 100%;
    height: auto;
    align-items: center;
}
article h3{
    text-align: center;
}

.shop-btn{
    background-color: #442610;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 6rem;
  }

footer{
    background-color: #9bbadc;
    padding:3rem;
    text-align: center;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    display:inline;
    text-transform: uppercase;
    color: #fff;
    margin: 0 10px;
}
